body {
    background-color: #ddd;
}

.arrow {
    padding: 0 8px;
}

.sidepanel {
    background-color: #ccc;
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    text-align: center;
}

.page {
    color: rgb(94, 93, 93);
    line-height: 1.5;
    font-size: 18px;
    font-family: 'Arimo', sans-serif;
    font-weight: 100;
    margin-top: 50px;
    margin-left: 360px;
    text-align: left;
    width: 700px;
}

#instructions {
    margin-top:100px;
}

.info-box {
    line-height: 1.5;
    color: #2b2b28;
    background: linear-gradient(to bottom right, #d4caca, #c8cec5);
    font-size: 18px;
    padding: 15px;
    margin-top: 40px;
    width: auto;
    box-shadow: 7px 7px #2b2b28;
    transition: box-shadow 500ms ease-in-out;
}

.head {
    background-color:  #c7f0db;
    color: #2b2b28;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    margin-bottom: 20px;
    padding: 10px 0;
}

.title {
    font-family: 'Shadows Into Light', sans-serif;
    font-size: 5em;
    font-weight: bold;
}

.yellow {
    background-color: gold;
    color: #2b2b28;
}

.turquoise {
    background-color: #02FFD5;
    color: #2b2b28;
}

.pink {
    background-color: #FF0296;
    color: #2b2b28;
}

.orange {
    color: orange;
}

#mazeCanvas {
    margin-bottom: 20px;
}

button {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    font-weight: bold;
    width: 80px;
    height: 45px;
    border-width: 0;
    background-color: #666;
    color: #ddd;
}

button:hover {
    background-color: gold;
    color: #2b2b28;
}

.info-box:hover{
    box-shadow: 12px 12px #585858;
}

.section {
    display: none;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.section.is-visible {
    display: block;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}

.section>p {
    font-size: 24px;
}

.col {
    display: inline-block;
    padding-right: 25px;
}

.col.skill {
    padding-right: 60px;
}