
/* DOCUMENT ELEMENTS */

html {
    min-height: 100%;
}

body {
    background: linear-gradient(to bottom right, #02FFD5, #00FF9D);
    min-height: 100%;
}

#stage1>p {
    width: 70%;
    text-align: justify;
}

/*****************
*    CLASSES     *
*****************/

.ac-title-el {
    display: inline-block;
    font-family: 'Roboto Mono';
    font-weight: bold;
    font-size: 30px;
    line-height: 1;
    padding-right: 10px;
    vertical-align: middle;
}

.ac-title-el>h1 {
    margin: 10px 0;
    padding-right:150px; 
}

.arrow {
    padding: 0 8px;
}



.col {
    display: inline-block;
    padding-right: 25px;
}

.col.skill {
    padding-right: 60px;
}



.info-box {
    line-height: 1.5;
    color: #eee;
    background: linear-gradient(to bottom right, rgb(124, 124, 119), rgb(139, 141, 128));
    font-size: 18px;
    margin-top: 30px;
    padding: 15px;
    width: 500px;
    box-shadow: 7px 7px #33362d;
    transition: box-shadow 500ms ease-in-out;
}

.info-box:hover{
    box-shadow: 12px 12px #545550;
}

.info-box-title {
    font-size: 20px;
    font-weight: bold;
}

.info-box-desc {
    margin-left: 20px;
}

.info-box.bootcamp {
    line-height: 1.5;
    font-size: 16px;
}

.info-box.bootcamp>p {
    margin: 10px 0;
}

.maze-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arimo', sans-serif;
    font-size: 12px;
    font-weight: bold;
    width: 40px;
    height: 40px;
}

.page {
    color: rgb(59, 59, 59);
    line-height: 1.5;
    font-size: 18px;
    font-family: 'Arimo', sans-serif;
    font-weight: 100;
    margin-top: 0;
    margin-left: 360px;
    overflow: auto;
    text-align: left;
}

.project {
    margin-bottom: 80px;
    width: 70%;
}

.proj-description>p {
    margin-left: 40px;
    text-align: justify;
}

.section {
    display: none;
    opacity: 0;
    padding-bottom: 40px;
    transition: opacity 250ms ease-in-out;
}

.section.is-visible {
    display: block;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}

.section>p {
    font-size: 24px;
}

.sidepanel {
    background-color: rgb(61, 61, 61);
    height: 100%;
    width: 270px;
    min-width: 14%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    text-align: center;
}

.title {
    font-family: 'Shadows Into Light', sans-serif;
    font-size: 5em;
    font-weight: bold;
}


@media only screen and (max-width: 1024px), only screen and (max-height: 685px) {

    .sidepanel {
        display: none;
    }

    .info-box {
        font-size: 14px;
        width: 90%;
    }

    .page {
        margin-left: 0;
        text-align: center;
    }

    .title-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 98vh;
        margin-bottom: 30px;
    }

    .info-box {
        display: none;
    }

    .title {
        font-size: 4em;
    }
}

     /*=======================================
     =  CLASS / Background Color Highlights  =
     ========================================*/
     .yellow {
        background-color: gold;
        color: #2b2b28;
        padding: 2px 5px;
    }
    
    .pink {
        background-color: #FF0296;
        color: #e6e6e6;
        padding: 2px 5px;
    }

    .dark {
        background-color: rgb(54, 54, 54);
        color: #ddd;
        padding: 2px 5px;
    }
    


/*********
*  ID's  *
**********/

#ac-bootcamp {
    vertical-align: middle;
}

#instructions {
    margin-top:50px;
}

#mazeCanvas {
    margin-bottom: 20px;
}

#head {
    display: flex;
    justify-content: space-evenly;
    background-color:  #cecece;
    color: #2b2b28;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    margin-bottom: 20px;
    padding: 10px 0;
}

#player {
    background-color: #FF0296;
}

#goal {
    background-color: #00FF9D;
}

#responsive {
    display: none;
}

#timeline {
    font-size: 14px;
}

@media only screen and (max-width: 1024px), only screen and (max-height: 685px) {
    #responsive {
        background-color: #ddd;
        color: #2b2b28;
        display: block;
        text-align: center;
        margin: 0 auto;
        border-style: solid;
        border-width: 8px;
        border-radius: 30px;
        border-color: #2b2b28;
        margin-bottom: 40vh;
        padding: 0 15px;
        width: 50%;
    }

    #intro {
        margin: 0 20px 40px 0;
    }

    #sad {
        font-size: 35px;
        margin: 20px 0 10px 0;
    }

    #walk {
        display: none;
    }
}


/**********
* Buttons *
**********/

.buttons {
    display: flex;
    justify-content: space-evenly;
}

button:hover {
    background-color: gold;
    color: #2b2b28;
}

.button {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    font-weight: bold;
    width: 60px;
    height: 45px;
    border-width: 0;
    background-color: #666;
    color: #ddd;
}

