
/* DOCUMENT ELEMENTS */

html {
    height: 100%;
}

body {
    background: linear-gradient(to bottom right, #02FFD5, #00FF9D);
}


/*****************
*    CLASSES     *
*****************/

.ac-title-el {
    display: inline-block;
    font-size: 22px;
    padding-right: 30px;
    vertical-align: middle;
}

.ac-title-el>h1 {
    margin: 10px 0;
    padding-right:150px; 
}

.arrow {
    padding: 0 8px;
}



.col {
    display: inline-block;
    padding-right: 25px;
}

.col.skill {
    padding-right: 60px;
}

.head {
    background-color:  #c7f0db;
    color: #2b2b28;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    margin-bottom: 20px;
    padding: 10px 0;
}

.info-box {
    line-height: 1.5;
    color: #eee;
    background: linear-gradient(to bottom right, rgb(124, 124, 119), rgb(139, 141, 128));
    font-size: 18px;
    margin-top: 30px;
    padding: 15px;
    width: 500px;
    box-shadow: 7px 7px #33362d;
    transition: box-shadow 500ms ease-in-out;
}

.info-box:hover{
    box-shadow: 12px 12px #545550;
}

.info-box-col {
    display: inline-block;
}

.info-box-title {
    font-size: 20px;
    font-weight: bold;
}

.info-box.bootcamp {
    line-height: 1.5;
    font-size: 16px;
}

.info-box.bootcamp>p {
    margin: 10px 0;
}

.page {
    color: rgb(59, 59, 59);
    line-height: 1.5;
    font-size: 18px;
    font-family: 'Arimo', sans-serif;
    font-weight: 100;
    margin-top: 50px;
    margin-left: 360px;
    text-align: left;
}

.section {
    display: none;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.section.is-visible {
    display: block;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}

.section>p {
    font-size: 24px;
}

.sidepanel {
    background-color: #ccc;
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    text-align: center;
}

.title {
    font-family: 'Shadows Into Light', sans-serif;
    font-size: 5em;
    font-weight: bold;
}

     /*=======================================
     =  CLASS / Background Color Highlights  =
     ========================================*/
     .yellow {
        background-color: gold;
        color: #2b2b28;
    }
    
    .turquoise {
        background-color: #02FFD5;
        color: #2b2b28;
    }
    
    .pink {
        background-color: #FF0296;
        color: #2b2b28;
    }

    .blue {
        background-color: rgb(0, 225, 255);
    }
    


/*********
*  ID's  *
**********/

#java.info-box{
    width: 400px;
}

#advc.info-box {
    position: relative;
    left: 30px;
    top: 30px;
    width: 350px;
}

#db.info-box {
    position: relative;
    top: 20px;
    left: 50px;
    width: 500px;
}

#js.info-box {
    position: relative;
    top: 40px;
    left: 70px;
    width: 250px;
}

#ac-bootcamp {
    vertical-align: middle;
}

#bootcamp-skills {
    display: flex;
    align-items: flex-start;
}

#instructions {
    margin-top:50px;
}

#mazeCanvas {
    margin-bottom: 20px;
}



/**********
* Buttons *
**********/

button {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    font-weight: bold;
    width: 80px;
    height: 45px;
    border-width: 0;
    background-color: #666;
    color: #ddd;
}

button:hover {
    background-color: gold;
    color: #2b2b28;
}

